body{
    margin:0;
}

h1 {
    color: hotpink;
}
header{
    height: 200px;
    background-color: peachpuff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: blue;
    color: white;
    display: grid;
    place-items: center;
}
.special-flex-item {
    align-self: flex-start;
}
/* .special-flex-item-2 {
    justify-self: end;
} */
 .yearbook {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr)); 
    gap: 1rem;
} 

.yearbook img {
    height: 250px;
    width: fit-content;
}

/*Each row of children will have one 60% and one 40% */
/* .yearbook{
    display: grid;
    grid-template-columns: repeat (5, 100px);
    gap: 15px;
} */
/* All children has the same size */
/* .yearbook {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    gap: 15px;
} */

/*Target all children */
.yearbook a {
  background-color: blueviolet;
}

/* or a specific class */
/* .card{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid red;
} */

